from argyll import Client, StepContext, AttributeType, StepResult
{{ if .IsAsync }}from argyll import AsyncContext
import threading
{{ end }}
client = Client("http://localhost:8080")
{{ if not .IsExternal }}

def handle_step(ctx: StepContext, args: dict) -> StepResult:
{{ if .IsAsync }}    async_ctx = AsyncContext(
        context=ctx,
        webhook_url=ctx.metadata["webhook_url"],
    )

    def process() -> None:
        async_ctx.success({})

    threading.Thread(target=process).start()
    return StepResult(success=True, outputs={})
{{ else }}    return StepResult(
        success=True,
        outputs={
{{ range .Outputs }}            {{ quote . }}: None,
{{ end }}        },
    )
{{ end }}{{ end }}
step = (
    client.new_step()
    .with_name({{ quote .StepName }}){{ range .Inputs }}
    .required({{ quote . }}, AttributeType.STRING){{ end }}{{ range .Outputs }}
    .output({{ quote . }}, AttributeType.STRING){{ end }}{{ if .IsAsync }}
    .with_async_execution(){{ end }}{{ if .IsExternal }}
{{ if .HasNonPostMethod }}    .with_method({{ quote .Method }}){{ end }}
    .with_endpoint("http://localhost:8081/step"){{ end }}
)

{{ if .IsExternal }}step.register(){{ else }}step.start(handle_step){{ end }}
