/* Flow Statistics Component */

.root {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

/* Badge Base Style */
.badge {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: var(--spacing-xs) var(--spacing-sm);
  border-radius: var(--radius-round);
  font-size: var(--text-xs);
  font-weight: var(--font-medium);
  border: 1px solid;
  height: 1.5rem;
  line-height: 1.5rem;
}

.badgeIcon {
  height: 0.75rem;
  width: 0.75rem;
  margin-right: var(--spacing-xs);
}

.badgeRequired {
  background-color: color-mix(in srgb, var(--arg-icon-required) 20%, white);
  color: color-mix(in srgb, var(--arg-icon-required) 55%, var(--color-darken));
  border-color: color-mix(
    in srgb,
    var(--arg-icon-required) 55%,
    var(--color-darken)
  );
}

.badgeOptional {
  background-color: color-mix(in srgb, var(--arg-icon-optional) 20%, white);
  color: color-mix(in srgb, var(--arg-icon-optional) 55%, var(--color-darken));
  border-color: color-mix(
    in srgb,
    var(--arg-icon-optional) 55%,
    var(--color-darken)
  );
}

.badgeOutput {
  background-color: color-mix(in srgb, var(--arg-icon-output) 20%, white);
  color: color-mix(in srgb, var(--arg-icon-output) 55%, var(--color-darken));
  border-color: color-mix(
    in srgb,
    var(--arg-icon-output) 55%,
    var(--color-darken)
  );
}
