/* Diagram Empty State */

.wrapper {
  background-color: var(--color-white);
  border-radius: var(--radius-md);
  overflow: hidden;
  box-shadow: var(--shadow-md);
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (min-width: 640px) {
  .wrapper {
    border-radius: var(--radius-md);
  }
}

.padding {
  padding-top: var(--spacing-3xl);
  padding-bottom: var(--spacing-3xl);
}
