package main

import (
{{ if or .IsExternal .IsScript }}	"context"
{{ end }}	"log"
	"time"

	"github.com/kode4food/argyll/engine/pkg/api"
	"github.com/kode4food/argyll/sdks/go-builder"
)

func main() {
	client := builder.NewClient("http://localhost:8080", 30*time.Second)
{{ if and (not .IsExternal) (not .IsScript) }}
	handler := func(
		ctx *builder.StepContext, args api.Args,
	) (api.Args, error) {
{{ if .IsAsync }}		asyncCtx, err := builder.NewAsyncContext(ctx)
		if err != nil {
			return nil, err
		}
		go func() {
			asyncCtx.Success(api.Args{})
		}()
		return api.Args{}, nil
{{ else }}		return api.Args{
{{ range .Outputs }}			{{ quote . }}: nil,
{{ end }}		}, nil
{{ end }}	}

{{ end }}	step := client.NewStep().
		WithName({{ quote .StepName }}){{ range .Inputs }}.
		Required({{ quote . }}, api.TypeString){{ end }}{{ range .Outputs }}.
		Output({{ quote . }}, api.TypeString){{ end }}{{ if .IsAsync }}.
		WithAsyncExecution(){{ end }}{{ if .IsExternal }}.
{{ if .HasNonPostMethod }}		WithMethod({{ quote .Method }}).
{{ end }}		WithEndpoint("http://localhost:8081/step"){{ end }}
{{ if .IsScript }}.
		WithScriptLanguage({{ quote .ScriptLanguage }}, {{ quote .ScriptBody }}){{ end }}
{{- if or .IsExternal .IsScript }}	if err := step.Register(
		context.Background(),
	); err != nil {
{{ else }}	if err := step.Start(handler); err != nil {
{{ end }}		log.Fatal(err)
	}
}
