.previewHud {
  position: absolute;
  bottom: var(--spacing-xl);
  left: 50%;
  z-index: 30;
  transform: translateX(-50%);
}

@media (max-width: 70rem) {
  .previewHud {
    max-width: calc(
      100% - (2 * (var(--spacing-xl) + 2rem + var(--spacing-md)))
    );
  }
}
