/* Spinner CSS Module */

.spinner {
  animation: spin 1s linear infinite;
  border-radius: 50%;
  border-bottom-width: 2px;
  border-bottom-style: solid;
}

.spinnerPrimary {
  border-bottom-color: var(--color-primary);
}

.spinnerWhite {
  border-bottom-color: var(--color-white);
}

.spinnerSm {
  height: 1rem;
  width: 1rem;
}

.spinnerMd {
  height: 2rem;
  width: 2rem;
}

.spinnerLg {
  height: 3rem;
  width: 3rem;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
