/* Diagram Layout */

.container {
  display: flex;
  height: 100%;
  flex-direction: column;
  min-height: 0;
  overflow: hidden;
}

.diagramContainer {
  position: relative;
  flex: 1;
  min-height: 0;
  overflow: hidden;
}
