/* Live Diagram View */

.emptyStateWrapper {
  background-color: var(--color-white);
  border-radius: var(--radius-md);
  overflow: hidden;
  box-shadow: var(--shadow-md);
}

@media (min-width: 640px) {
  .emptyStateWrapper {
    border-radius: var(--radius-md);
  }
}

.diagramWrapper {
  position: relative;
  height: 100%;
  width: 100%;
}
