/* Flow Diagram Layout */

.container {
  display: flex;
  height: 100%;
  flex-direction: column;
}

.containerFlowMode {
  background-color: var(--color-neutral-label);
}

.containerOverviewMode {
  background-color: var(--color-white);
}

.emptyStateContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  background-color: var(--color-white);
}

.diagramContainer {
  position: relative;
  flex: 1;
}

.diagramContent {
  height: 100%;
  width: 100%;
}
